@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Poppins", sans-serif;
}

.work {
  width: 100%;
  height: 100vh;
  background-color: #000;
}
.container-fluid {
  width: 100%;
  height: 200vh;
}
.work {
  padding: 8%;
  padding-left: 40%;
  display: flex;
  flex-direction: column;
}
button {
  width: 150px;
  margin: 5rem;
}
img {
  border-radius: 50%;
  cursor: pointer;
}
h1 {
  color: white;
  margin-bottom: 2rem;
}

.header h1 {
  margin: 0;
}

.main {
  height: 100%;
}

from {
  padding-top: 20%;
}
.input-box {
  margin-left: 30%;
}
form input {
  padding: 15px;
  outline: none;
  border: 0;
  width: 350px;
  background-color: #fff;
  border-radius: 60px;
}
form button {
  margin: 1rem;
  padding: 10px;
  background-color: blue;
  color: white;
  outline: none;
  border: 0;
  border-radius: 8%;
}
.main {
  width: 100%;
  height: 100vh;
}

.Weather-detail {
  border: 2px solid white;
  height: 80vh;
  background-color: transperant;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

.sunset {
  height: 30vh;
  background-color: transperant;
  border: 2px solid white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.Wind {
  margin-top: 1rem;
  height: 50vh;
  background-color: transperant;
  border: 2px solid white;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}
.Weather-detail p {
  font-size: 0.5rem;
}
.Weather-detail h2 {
  font-size: 2rem;
}
#detail {
  position: relative;
  left: 30%;
  top: 10%;
}
#sun {
  padding-left: 30%;
  padding-top: 10%;
}

#wind {
  padding-left: 20%;
  padding-top: 10%;
}
#detail p {
  font-size: 0.5rem;
  font-weight: 400;
}
#detail h2 {
  font-size: 2rem;
  font-weight: 700;
}
#wind p {
  font-size: 1rem;
  font-weight: 400;
}
@media screen and (max-width: 768px) {
  .input-box {
    padding-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #detail {
    margin: 0;
    padding-top: 4rem;
    position: relative;
    left: 0%;
    top: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #wind {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #sun {
    padding-left: 0%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .sunset {
    margin: 0.5rem;
    height: max-content;
  }
  .container-fluid {
    height: 250vh;
  }
  .work {
    padding: 0;
    padding-left: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }
  .work {
    width: 100%;
    overflow: hidden;
    padding-top: 2rem;
  }
  .rainy {
    font-color: white;
  }
}
